// Colors
$primary-color: #3498db;
$secondary-color: rgb(91, 207, 80);
$tertiary-color: rgb(216, 9, 36);
$accent-color: #FADB05;
$accent2-color: #8e44ad;
$accent3-color: #393253;
$font-color:#e9e7e7;
$black-accent: #1A1B1B;
$bg-color: #000000;
$white: #fff;
// Fonts
$base-font-size: 16px;
$font-family: 'Arial, sans-serif';

// Spacing
$padding-base: 10px;
$margin-base: 20px;

// Breakpoints
$breakpoint-mobile: 768px;
$breakpoint-desktop: 1200px;
