// main.scss

// Import variables, mixins, and base styles
@import 'variables';
@import 'mixins';
@import 'base';

// Additional component styles go here
nav.sidebar{
    background-color: $bg-color;
    width: 23.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: .5rem 2%;
    justify-content: space-between;
    font-family: "montserrat", sans-serif;
    box-sizing: border-box;
    
    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        padding: $padding-base;
        gap: .5rem;
        box-sizing: border-box;
        .top-action{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: $padding-base;
            gap: .5rem;
            
            a.action-btn{
                text-decoration: none;
                color: $font-color;
                &.search{
                    display: none;
                }
                &.nav-trigger{
                    display: none;
                }
                &:hover span{
                    transform: scale(1.08);
                    color: $white;
                }
                span{
                    color: $font-color;
                    transition: all .2s ease-in-out;
                    font-size: calc($base-font-size * 2);
                }
            }
        }
        .logo{
            display: flex;
            align-items: center;
            img{
                width: 100%;
                
            }
            h3{
                font-size: $base-font-size * 2;
                font-weight: 400;
                //text-transform: uppercase;
                font-family: "Dancing Script", cursive;
            }
        }
    }
    .content{
        min-height: 40%;
        
        box-sizing: border-box;
        padding: $padding-base;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2rem;
        .close{
            display: none;
            
        }
        .nav-links{
            
            display: flex;
            flex-direction: column;
            gap: .5rem;
            li{
                list-style: none;
                a{
                    color: $font-color;
                    text-decoration: none;
                    font-weight: 400;
                    font-size: $base-font-size * 1.2;
                    text-transform: uppercase;
                    transition: .1s all ease-in-out;
                }
                &:nth-child(1) a:hover{
                    color: $secondary-color;
                }
                &:nth-child(2) a:hover{
                    color: $primary-color;
                    
                }
                &:nth-child(3) a:hover{
                    color: $tertiary-color;
                }
                &:nth-child(4) a:hover{
                    color: $accent-color;
                }
                &:nth-child(5) a:hover{
                    color: $accent2-color;
                }
                &:nth-child(6) a:hover{
                    color: $primary-color;
                }
            }
        }
        .social-links{
            display: none;
        }
        
    }
    form{ 
        padding: $padding-base 0;
        display: flex;
        align-items: center;
        position: relative;
        line-height: 1.8rem;
        input{
            background: transparent;
            padding: $padding-base * 1.2 0;
            border: none;
            border-bottom: 2px solid #dad9d98a;
            width: 100%;
            outline: none;
            color: $font-color;
            &::placeholder{
                font-family: "montserrat", sans-serif;
            }
        }
        span,i.bx{
            position: absolute;
            right: 2%;
            color: #dad9d98a;
            font-size: $base-font-size * 1.7;
        }
        .search-close{
            display: none;
            
        }
    }

    @media (max-width: $breakpoint-mobile) {
        width: 100%;
        height: fit-content;
        padding: 0;
       
        
        .header{
            
            flex-direction: row-reverse;
            padding: .3rem;
            align-items: center;
            .top-action{
                
                align-items: center;
                line-height: 1rem;
                gap: .7rem;
                .favorite{
                    display: none;
                }
                a.search{
                    display: flex !important;
                }
                a.nav-trigger{
                    display: flex !important;
                    
                    span{
                        font-weight: 200;
                        font-size: calc($base-font-size * 2.3);
                    }
                }
            } 
            .logo{
                display: flex;
                padding: .5rem;
                img{
                    width: 50%;
                }
                
                
               
                h3{
                    font-size: $base-font-size * 2;
                    text-wrap: nowrap;
                    
                }
            }
        }
        .content{
            position: absolute;
            min-height: 40%;
            height: 100vh;
            background: $black;
            z-index: 223;
            width: 0%;
            box-sizing: border-box;
            padding: $padding-base $padding-base * 2.5;
            right: -60%; //change back
            
            justify-content: flex-start;
            transition: all .4s ease;
            display: none;
            &.active{
                right: 0;
                width: 70%;
                display: flex;
                
            }
            .close{
                width: fit-content;
                display: flex;
                align-self: flex-end;
                align-items: baseline;
                padding: 0.5rem;
                cursor: pointer;
                span{
                    font-weight: bold;
                }
                
            }
            .nav-links{
                padding: $padding-base * 0.5;
                display: flex;
                flex-direction: column;
                gap: .8rem;
                box-sizing: border-box;
                li a{
                    font-size: $base-font-size * 1.3;
                    color: $white-accent;
                }
                    
                
            }
            .social-links{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                
                padding: .5rem;
                margin-top: 15%;
                position: relative;
                justify-content: space-around;
                li{
                    list-style: none;
                    a{
                        color: $font-color;
                        text-decoration: none;
                        font-weight: 400;
                        font-size: $base-font-size * 0.9;
                        flex-direction: column;
                        transition: .2s all ease-in-out;
                        display: flex;
                        align-items: center;
                        gap: .3rem;
                        i.bx{
                            font-size: $base-font-size * 2;
                        }
                        
                    }
                    &:nth-child(1) a{
                        color: $secondary-color;
                       
                    }
                    &:nth-child(2) a{
                        color: $primary-color;
                       
                        
                    }
                    &:nth-child(3) a{
                        color: $tertiary-color;
                       
                    }
                
                }
            }
                
            
        }
        form{
            position: absolute;
            height: 100vh;
            
            width: 60%;
            right: -60%;
            display: none;
            top: 0;
            background-color: $bg-color;
            z-index: 223;
            align-items: flex-start;
            box-sizing: border-box;
            transition: all .4s ease;
            padding:$padding-base $padding-base * 3;
            &.active{
                right: 0%;
                display: flex !important;
            }
            input{
                width: 100%;
                border-bottom: none;
               
                
                &:hover{
                    &::placeholder{
                        opacity: 1;
                    }
                }
                &::placeholder{
                    opacity: 0.8;
                    
                }
            }
            i.bx{
                display: none;
            }
            .search-close{

                width: fit-content;
                display: flex;
                box-sizing: border-box;
                align-items: baseline;
                padding: 0.5rem;
                cursor: pointer;
                height: fit-content;
                span{
                    font-weight: bold;
                    box-sizing: border-box
                }
            }

        }
    }
}


.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        img {
            width: 200px;
            margin-bottom: 20px;
            margin-left: 15px;
        }
    }

    

    .spinner {
        width: 40px;
        height: 40px;
        position: relative;
    }

    .double-bounce1, .double-bounce2 {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #333;
        opacity: 0.6;
        position: absolute;
        top: 0;
        left: 0;
        animation: bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
        animation-delay: -1.0s;
    }

    @keyframes bounce {
    0%, 100% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
}

}

.main-body{
    width: 76.5%;
    height: 100vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    
    box-sizing: border-box;
    /* Scrollbar styles */
    &::-webkit-scrollbar {
        width: 12px; /* Width of the scrollbar */
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the track (scroll area) */
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888; /* Scrollbar thumb (the actual bar) */
        border-radius: 10px; /* Roundness of the scrollbar */
        border: 3px solid #f1f1f1; /* Padding around the thumb */
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555; /* Darker color when hovering over the scrollbar */
    }

    .overlay{
        width: 100%;
        height: 100%;
        
        display: none;
        flex-direction: column;
        position: absolute;
        z-index: 20;
        &.side-actions-active{
            display: flex !important;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(2px) !important;
           
            
        }
    }
    @media (max-width: $breakpoint-mobile) {
        width: 100%;
       
    }
    .background-audio{
        position: absolute;
        bottom: 0;
        padding: $padding-base * 2;
        right: 0;
        box-sizing: border-box;
        
        gap: 1rem;
        display: flex;
        flex-direction: column;
        z-index: 223;
        .audio-details{
            background-color: $white;
            min-width: 250px;
            color: $black;
            border-radius: 10px;
            padding: $padding-base * 0.9;
            font-family: "Montserrat", sans-serif;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: $base-font-size * 1.5;
            .player-img{
                display: flex;
                align-items: center;
              
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 10px;
                }
            }
            
            h2{
                color: $black;
                font-size: $base-font-size * 0.9;
            }
            h3{
                color: black;
                font-weight: 400;
                font-size: $base-font-size * .8;
            }
        }
        .player-controls{
            background-color: $white;
            padding: $padding-base * 0.7;
            width: 220px;
            border-radius: 10px;
            display: flex;
            align-items: center;
           
            gap: .5rem;
            justify-content:center;
            i.bx{
                font-size: $base-font-size * 2.5;
                color: $black;
                user-select: none;
                cursor: pointer;
                &#play{
                    font-size: $base-font-size * 3.5;
                }
                &.back{
                    transform: rotate(180deg);
                }
            }
        }
        @media (max-width: $breakpoint-mobile) {
            display: flex;
            align-items: flex-end;
            bottom: 10%;
            gap: .5rem;
            right: 0%;
            .audio-details{
                padding: $padding-base * 0.5;
                .player-img{
                    img{
                        width: 50px;
                        height: 50px;
                    }
                }
                h2{
                    font-size: $base-font-size * 0.7;
                }
                h3{
                    font-size: $base-font-size * 0.6;
                }
            }
            .player-controls{
                padding: $padding-base * 0.3;
                width: 100px;
                i.bx{
                    font-size: $base-font-size * 1.5;
                    &.back{
                        display: none;
                    }
                    &.forward{
                        display: none;
                    }
                }
            }
        }
        
    }

    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        font-family: "Montserrat", sans-serif;
        gap: 1rem;

        .popup-content {
            background: #fff;
            padding:1rem 20px;
            border-radius: 10px;
            text-align: center;
            max-width: 500px;
            width: 90%;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: .5rem;

            h2 {
                margin-bottom: 10px;
                text-transform: uppercase;
                color: black;
            }
            p {
                margin-bottom: 20px;
                color: #000;
            }
            img {
                width: 200px;
                margin: 0 auto;
            }
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            input[type="email"] {
                padding: 10px;
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #ccc;
                border-radius: 5px;
            }
            button,.action-btn {
                padding: 15px 20px;
                background: #000;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
            }
            .close {
                position: absolute;
                top: 10px;
                right: 10px;
                cursor: pointer;
                color: black;
            }

        }
        #start-button {
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.8);
            color: white;
            font-size: 24px;
            cursor: pointer;
        }
    }
    .landing_page{
        margin: 0 !important;
        
        
        background-image: url(/assets/images/landingpage.png);
        background-size: cover;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 80%;
        padding:15% 10%;
        font-family: "Montserrat", sans-serif;
        gap: 2rem;
        h2{
            font-size: $base-font-size * 3.75;
            color: $white;
            text-align: center;
            font-weight: 600;
            text-transform: uppercase;
            line-height: $base-font-size * 4.75;

        }
        p{
            font-size: $base-font-size;
            text-align: center;
            color: $white
        }
        .action-btn{
            @include button-style($white, $black);
        }
    }

    .marquee{
        margin: 0 !important;
        background-color: $black-accent;
        padding: $padding-base * 3;
        overflow: hidden;
        box-sizing: border-box;
        width: 100%; 
        height: fit-content;
        white-space: nowrap;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        line-height: normal;
        .content{
                width: 100%;
                height: 100%;
                display:flex;
                align-items: center;
                justify-content: space-between;
                animation: marquee 35s linear infinite;
                gap: 3rem;
                span {
                    display: flex;
                    padding: .5rem;
                    
                }
            
        }
        
    }
    @keyframes marquee {
        0% {
            transform: translateX(100%);
        }
        100% {
            transform: translateX(-100%);
        }
    }

    .artworks-apparels{
        
        width: 100%;
        margin-top:0 !important;
        box-sizing: border-box;
        
        position: relative;
        display: flex;
        flex-wrap: wrap;
        .apparel-card{
           @include card-style;
        }
    }

    .featured-artwork{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        
        .text-content{
            width: 100%;
            height: 70%;
            box-sizing: border-box;
            padding: 0 $padding-base * 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: $base-font-size * 1.3;
            background-color: #CC621D;
            font-family: "Montserrat", sans-serif;
           
            h4{
                color: $white;
                font-weight: 600;
                text-transform: uppercase;
                font-size: $base-font-size * 1.38;
            }
            p{
                font-size: $base-font-size * 0.94;
                font-weight: 600;
                line-height: $base-font-size * 1.25;
                span{
                    font-weight:800;
                    font-style: normal;
                }
            }
            .action-btn{
                @include button-style(none, $white);
                width: fit-content;
                text-wrap: nowrap;
                background-color: transparent;
                border: 2px solid $white;
                padding:0 $padding-base * 2;
                &:hover{
                    background-color: transparent;
                }
                
            }
        }
        .img{
            width: 100%;
            height: 650px;
            img{
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
        }

        @media (min-width: $breakpoint-desktop) {
            flex-direction: row-reverse;
            .text-content{
                padding: 0 $padding-base * 4.5;
                width: 50%;
                height: 100%;
                .action-btn{
                    @include button-style(none, $white);
                }
                
            }
            .img{
                width: 50%;
            }
        }
    }

    .mission{
        width: 100%;
        min-height: 60%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        .img-bg{
            width: 100%;
            height: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .text-content{
            width: 100%;
            position: absolute;
            height: 100%;
            
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10%;
            justify-content: center;
            gap: $padding-base * 3;
            background-color: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(3px);
            font-family: "Montserrat", sans-serif;
            h1{
                font-size: $base-font-size * 2.63;
                font-weight: 600;
                line-height: $base-font-size * 2.88;
                color: $white;
                margin: 0;
                text-transform: uppercase;
                text-align: center;
            }
            p{
                width: 80%;
                font-size: $base-font-size * 0.81;
                font-weight: 300;
                color: $white;
                text-align: center;
            }
            .action-btn{
                padding:0 $padding-base * 3;
                color: $bg-color;
                background-color: $white;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                line-height: 53px;
                font-size: $base-font-size * 0.94;
                &:hover{
                    transition: .3s ease;
                    background-color: $tertiary-color;
                    color: $white;
                }
            }
        }

        @media (min-width: $breakpoint-desktop) {
            min-height: 60%;
        }
    }

    //Collected Works
    .collected-works{
        width: 100%;
        box-sizing: border-box;
        display: flex;
        
        box-sizing: border-box;
        @media (min-width: $breakpoint-desktop) {
            flex-direction: column;
        }
        .featured-artwork{
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            
            .text-content{
                width: 50%;
                height: 100%;
                box-sizing: border-box;
                padding: 0 $padding-base * 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: $base-font-size * 1.3;
                background-color: #CC621D;
                font-family: "Montserrat", sans-serif;
               
                h4{
                    color: $white;
                    font-weight: 600;
                    text-transform: uppercase;
                    font-size: $base-font-size * 1.38;
                }
                p{
                    font-size: $base-font-size * 0.94;
                    font-weight: 600;
                    line-height: $base-font-size * 1.25;
                    span{
                        font-weight:800;
                        font-style: normal;
                    }
                }
                .action-btn{
                    @include button-style(none, $white);
                    width: fit-content;
                    text-wrap: nowrap;
                    background-color: transparent;
                    border: 2px solid $white;
                    padding:0 $padding-base * 2;
                    &:hover{
                        background-color: transparent;
                    }
                    
                }
            }
            .img{
                width: 50%;
                height: 650px;
                img{
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }
    
            @media (min-width: $breakpoint-desktop) {
                &:nth-child(odd){
                    flex-direction: row;
                }
                &:nth-child(even){
                    flex-direction: row-reverse;
                }
                .text-content{
                    padding: 0 $padding-base * 4.5;
                    .action-btn{
                        @include button-style(none, $white);
                    }
                    
                }
            }
        }
    }

    //Coming soon pages
    .coming-soon{

        width: 100%;
        min-height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        padding: 1rem;
        box-sizing: border-box;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/assets/images/bg.jpg);
            background-size: cover;
            background-position: center;
            filter: blur(5px); /* Adjust the blur intensity here */
            z-index: -1;
        }
        span{
            color: white;
            font-size: $base-font-size * 1.5;
            text-transform: uppercase;
        }
        h1{
            color: $tertiary-color;
            font-size: $base-font-size * 3;
            z-index: 2;
            box-sizing: border-box;
            

        }
        p{
            color: white;
        }
    }

    .coming-soon-foundation{

        width: 100%;
        min-height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        padding: 1rem;
        box-sizing: border-box;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(/assets/images/landingpage.png);
            background-size: cover;
            background-position: center;
            filter: blur(0px); /* Adjust the blur intensity here */
            z-index: -1;
        }
        span{
            color: white;
            font-size: $base-font-size * 1.5;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
        }
        h1{
            color: $tertiary-color;
            font-size: $base-font-size * 3;
            z-index: 2;
            box-sizing: border-box;
            
            

        }
        p{
            color: white;
        }
    }

    .gallery-iframe{
        width: 100%;
        
        height: 100vh;
        iframe{
            width: 100%;
            height: 100vh;
        }
    }

    //Mission Statement page
    .mission-statement{
        width: 100%;
     
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
        .first-section{
            width: 100%;
            height: 100vh;
            box-sizing: border-box;
            display: flex;
            font-weight: 500;
            .left{
                width: 50%;
                padding: $padding-base * 4;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-size: cover;
                background-image: url(/assets/images/mission/2.jpeg);
                h1{
                    font-size: $base-font-size * 1.8;
                    line-height: $base-font-size * 2;
                    letter-spacing: .05cm;
                    text-transform: uppercase;
                    color: $white;

                }
                p{
                    font-size: $base-font-size * 1.3;
                    color: $white;
                }
            }
            .right{
                width: 50%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                
                img{
                    width: 100%;
                    height: 50%;
                    object-fit: cover;
                }
                .content{
                    width: 100%;
                    
                    height:50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    img{
                        width: 100%;
                        height: 100%;
                        
                        opacity: 1;
                        filter: blur(1px)
                    }
                    p{
                        font-size: $base-font-size * 1.3;
                        color: $black;
                        position: absolute;
                        padding: $padding-base * 4;
                    }
                }
            }

            @media (max-width: $breakpoint-mobile) {
                flex-direction: column;
                
                .left{
                    width: 100%;
                    height: 50%;
                    gap: 1rem;
                    p{
                        font-size: $base-font-size * 1.1;
                    }
                }
                .right{
                    width: 100%;
                    position: relative;
                    
                    height: 50%;
                    img{
                        width: 100%;
                        height: 80%;
                        filter: blur(1px);
                    }
                    .content{
                        width: 100%;
                        height: 20%;
                        position: unset;
                        img{
                            filter: blur(0px);
                        }
                        p{
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: $base-font-size * 1.1;
                            
                            font-weight: 600;
                        }
                    }
                    
                    
                }
            }
        }
        .second-section{
            width: 100%;
            height: 90vh;
           
            font-weight: 500;
            .top{
                display: flex;
                
                width: 100%;
                box-sizing: border-box;
                height: 50%;
                img{
                    width: 40%;
                    object-fit: cover;
                    filter: blur(1px);
                }
                p{
                    width: 60%;
                    background-image: url(/assets/images/mission/5.jpeg);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: $padding-base * 4;
                    color: white;
                    font-size: $base-font-size * 1.3;
                }
            }
            .bottom{
                display: flex;
                width: 100%;
                box-sizing: border-box;
                height: 50%;
                p{
                    width: 55%;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: $padding-base * 4;
                    color: black;
                    background-image: url(/assets/images/mission/6.jpeg);
                    font-size: $base-font-size * 1.3;
                   
                }
                img{
                    width: 45%;
                    object-fit: cover;
                    filter: blur(1px);
                }
            }
            @media (max-width: $breakpoint-mobile) {
                flex-direction: column;
                
                .top{
                    width: 100%;
                    height: 50%;
                    
                    img{
                        width: 20%;
                        filter: blur(1px);
                    }
                    p{
                        width: 80%;
                        padding: $padding-base * 2;
                        font-size: $base-font-size * 1.1;
                    }
                }
                .bottom{
                    width: 100%;
                    position: relative;
                    
                    height: 50%;
                    img{
                        
                        width: 20%;
                    
                        filter: blur(1px);
                    }
                    p{
                        width: 80%;
                        padding: $padding-base * 2;
                        font-size: $base-font-size * 1.1;
                        font-weight: 600;
                    }
                  
                    
                    
                }
            }
        }

        .third-section{
            width: 100%;
            height: 60vh;
            display: flex;

            .left{
                width: 50%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: brightness(80%);
                }
            }
            .right{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-image: url(/assets/images/mission/11.jpeg);
                box-sizing: border-box;
                position: relative;
                p{
                    width: 100%;
                    font-size: $base-font-size * 1.3;
                    color: $white;
                    padding: $padding-base * 4;
                }
                img{
                    
                    width: 7rem;
                    position: absolute;
                    bottom: 5%;
                    right: 5%;
                }
            }
            @media (max-width: $breakpoint-mobile) {
                flex-direction: column;
                height: 50vh;
                .left{
                    display: none;
                    
                }
                .right{
                    width: 100%;
                    position: relative;
                    justify-content: center;
                    height: 100%;
                   
                    p{
                        width: 100%;
                        padding: $padding-base * 2;
                        font-size: $base-font-size * 1.1;
                        font-weight: 500;
                    }
                  
                    
                    
                }
            }
        }
        
       
    }

    //Shop page
    .shop{
        width: 100%;
        
        box-sizing: border-box;
        padding: 2%;
        background-color: #EAEBEB;
        font-family: "Montserrat", sans-serif;
        h1{
            color: $black;
            text-transform: uppercase;
            font-size: $base-font-size * 1.69;
        }
        .card-container{
            width: 100%;
            display: flex;
            gap: $padding-base * 1.52;
            box-sizing: border-box;
            flex-wrap: wrap;
            .card{
                width: calc(100% / 3.1);
                height: 450px;
                padding: .5rem;
                box-sizing: border-box;
                text-decoration: none;
                transition: .4s ease;
                &:hover{
                    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.068);
                    .description p{
                        text-decoration: underline;
                        color: $tertiary-color;
                    }
                    .card-image{
                        overflow: hidden;
                        transition: .5s ease-in-out;
                        img{
                            transform: scale(1.1);
                            transition: all .5s ease-in-out;
                           
                        }
                    }
                }
                .card-image{
                    width: 100%;
                    height: 70%;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .description{
                    width: 100%;
                    height: 30%;
                    box-sizing: border-box;
                    font-family: "Montserrat", sans-serif;
                    color: $black;
                    padding: .7rem 0;

                    p{
                        text-transform: uppercase;
                        text-decoration-color: $black;
                        font-weight: bold;
                        font-size: $base-font-size * 1.03;
                    }
                    small{
                        s{
                            color: $tertiary-color;
                        }
                    }
                }
            }
        }
        p.info{
            color: $tertiary-color;
        }
        @media (max-width: $breakpoint-mobile) {
            h1{
                font-size: $base-font-size * 1.5;
                padding: 1rem 0;
                text-align: center;
            }
            .card-container .card{
                width: calc(100% / 2.1);
                height: 280px;
                .card-image{
                    height: 70%;
                }
                .description{
                    height: 30%;
                    
                    p{
                        font-size: $base-font-size * .75;
                        line-height: 1rem;
                    }
                    small{
                        font-size: $base-font-size * .7;
                    }
                }
            }
        }
    }

    //Agora Fashion
    .agora-fashion{
        width: 100%;
        
        box-sizing: border-box;
        padding: 2%;
        background-color: #EAEBEB;
        font-family: "Montserrat", sans-serif;
        h1{
            color: $black;
            text-transform: uppercase;
            font-size: $base-font-size * 1.69;
        }
        p{
            color: $black;
        }
        span{
            color: $primary-color;
        }
        .card-container{
            width: 100%;
            display: flex;
            gap: $padding-base * 1.52;
            box-sizing: border-box;
            flex-wrap: wrap;
            padding: 1rem 0;
            .card{
                width: calc(100% / 3.15);
                height: 450px;
                padding: .5rem;
                box-sizing: border-box;
                text-decoration: none;
                transition: .4s ease;
                
                &:hover{
                    box-shadow: 0px 0px 13px 3px rgba(0, 0, 0, 0.068);
                    transition: .5s ease-in-out;
                    .description p{
                        text-decoration: underline;
                        color: $tertiary-color;
                    }
                    .card-slider{
                        overflow: hidden;
                        
                        img{
                            transform: scale(1.1);
                            transition:.4s ease-in-out;
                            
                           
                        }
                    }
                }
                .card-slider{
                    position: relative;
                    max-width: 100%;
                    height: 80%;

                   

                    .slides{
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                            display: none;
                            object-fit: cover;
                            &:first-child{
                                display: block;
                            }

                        }
                    }
                    .prev, .next {
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        width: auto;
                        padding: 14px;
                        border: none;
                        margin-top: -22px;
                        color: $black;
                        font-weight: bold;
                        font-size: 18px;
                        transition: 0.6s ease;
                        border-radius: 0 3px 3px 0;
                        background: #EAEBEB;
                        user-select: none;
                        &:hover{
                            background-color: rgba(0,0,0,0.8);
                        }
                    }
                    .next {
                        right: 0;
                        border-radius: 3px 0 0 3px;
                    }
                }
                .description{
                    width: 100%;
                    height: 20%;
                    box-sizing: border-box;
                    font-family: "Montserrat", sans-serif;
                    color: $black;
                    padding: .7rem 0;
                    
                    p{
                        text-transform: uppercase;
                        text-decoration-color: $black;
                        font-weight: bold;
                        font-size: $base-font-size * .8;
                    }
                    
                }
            }
        }

        @media (max-width: $breakpoint-mobile) {
            h1{
                font-size: $base-font-size * 1.5;
                padding: 1rem 0;
                text-align: center;
            }
            p.headline{
                
                text-align: justify;
            }
            .card-container{
                justify-content: center;
                .card{
                    width: 85%;
                    height: 400px;
                    
                    .card-image{
                        height: 70%;
                    }
                    .description{
                        height: 30%;
                        
                        p{
                            font-size: $base-font-size * .75;
                            line-height: 1rem;
                        }
                        small{
                            font-size: $base-font-size * .7;
                        }
                    }
                }
            }
        }
    }
    footer.footer{
        width: 100%;
        height: fit-content;
        background-color: $bg-color;
        padding:5%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        .content{
            width: 100%;
            
            box-sizing: border-box;
            height: fit-content;
            
            display: flex;
            flex-direction: column;
            .logo{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10%;
                
                img{
                    width: 100%;
                    //height: 7.9rem;
             
                }
                span{
                    font-family: "Dancing Script", cursive;
                    font-size: $base-font-size * 2;
                    color: $primary-color;
                }
                @media (min-width: $breakpoint-desktop) {
                    align-items: flex-start;
                    padding-left: 0;
                }
                
            }
            .tab-links{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: $padding-base * 1.3;
                padding: 8%;
                
                font-family: "Montserrat", sans-serif;
                a{
                    color: $white;
                    font-size: $base-font-size * 0.7;
                    font-weight: 300;
                    text-transform: uppercase;
                    padding: .3rem;
                    text-decoration: none;
                    //text-underline-offset: 4px;
                    &:hover{
                        color: #b1b1b1;
                    }
                }

                @media (min-width: $breakpoint-desktop) {
                    gap: $padding-base * 2;
                    padding: 10%;
                }
            }
            @media (min-width: $breakpoint-desktop) {
                flex-direction: row;
                height: 50vh;
                .logo{
                    width: 50%;
                    
                }
                .tab-links{
                    width: 50%;
                    
                }
            }
        }
        p{
            font-family: "Montserrat", sans-serif;
            font-size: $base-font-size * 0.81;
            font-weight: 300;
            padding: 5% 0;
            margin-bottom: 5rem;
            @media (min-width: $breakpoint-desktop) {
                padding: 0;
            }
        }
        
    }
}

